.InputForm {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 70%;
  z-index: 1;
  font-size: 2em;
  align-self: center;
}


label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-bottom: 5px;
}

.labelText {
  width: 20%
}

input {
  width: 80%;
  height: 2.6em;
  margin-left: 10px;
  border: none;
  font-family: 'Segoe UI', sans-serif;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding-left: 15px;
}

@media screen and (max-width: 730px) {
  label{
    font-size: 1rem;
  }

}