.InputForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .inputForm {
    font-size: 50;
  }

}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-bottom: 5px;
}

input {
  width: 60vw;
  height: 2em;
  margin-left: 2em;
  border: none;
  font-family: 'Segoe UI', sans-serif;
}

textarea:focus {
  outline: none;
}