.InputForm {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 80vw;
  font-size: 2em;
}

label {
  display: flex;
  justify-content: right;
  text-align: right;
}

textarea {
  width: 60%;
  margin-left: 2em;
}