.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.twoButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  align-self: center;

}
.twoButtons > * {
  margin: 5px;
}

.button {
  width: 20%;
  margin: 5px;
}

#queb-name {
  font-weight: 900;
  font-size: 2.5em;
}

@media screen and (min-width: 600px) {
  .twoButtons {
    width: 30%;
  }
}